@font-face {
  font-family: 'icomoon';
  src:  url('https://cdn2.hubspot.net/hubfs/490686/_site/fonts/icomoon.eot');
  src:  url('https://cdn2.hubspot.net/hubfs/490686/_site/fonts/icomoon.eot') format('embedded-opentype'),
    url('https://cdn2.hubspot.net/hubfs/490686/_site/fonts/icomoon.ttf') format('truetype'),
    url('https://cdn2.hubspot.net/hubfs/490686/_site/fonts/icomoon.woff') format('woff'),
    url('https://cdn2.hubspot.net/hubfs/490686/_site/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-businessman:before {
  content: "\e959";
}
.icon-corporate:before {
  content: "\e95a";
}
.icon-engineer-quality:before {
  content: "\e95b";
}
.icon-engineer:before {
  content: "\e95c";
}
.icon-improvement:before {
  content: "\e95d";
}
.icon-it:before {
  content: "\e95e";
}
.icon-operator:before {
  content: "\e95f";
}
.icon-team-leader:before {
  content: "\e960";
}
.icon-ar:before {
  content: "\e900";
}
.icon-arrow-down-sm:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-left-sm:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right-sm:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-up-sm:before {
  content: "\e907";
}
.icon-arrow-up:before {
  content: "\e908";
}
.icon-button:before {
  content: "\e909";
}
.icon-camera:before {
  content: "\e90a";
}
.icon-caution:before {
  content: "\e90b";
}
.icon-check-outline:before {
  content: "\e90c";
}
.icon-check-sm:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90e";
}
.icon-checkbox-checked:before {
  content: "\e90f";
}
.icon-checkbox:before {
  content: "\e910";
}
.icon-cobot:before {
  content: "\e911";
}
.icon-cobot2:before {
  content: "\e912";
}
.icon-control:before {
  content: "\e913";
}
.icon-cycletime:before {
  content: "\e914";
}
.icon-edit-sm:before {
  content: "\e915";
}
.icon-edit:before {
  content: "\e916";
}
.icon-exit:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e918";
}
.icon-file:before {
  content: "\e919";
}
.icon-filter:before {
  content: "\e91a";
}
.icon-gauge:before {
  content: "\e91b";
}
.icon-gear:before {
  content: "\e91c";
}
.icon-hamburger:before {
  content: "\e91d";
}
.icon-home:before {
  content: "\e91e";
}
.icon-indicators:before {
  content: "\e91f";
}
.icon-infinity:before {
  content: "\e920";
}
.icon-instructions:before {
  content: "\e921";
}
.icon-linkedin:before {
  content: "\e922";
}
.icon-list .path1:before {
  content: "\e923";
  color: rgb(63, 63, 63);
}
.icon-list .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path5:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path6:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path7:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path8:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path9:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path10:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path11:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path12:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path13:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path14:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-list .path15:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-list .path16:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(63, 63, 63);
}
.icon-lock:before {
  content: "\e933";
}
.icon-mail:before {
  content: "\e934";
}
.icon-minus-sm:before {
  content: "\e935";
}
.icon-minus:before {
  content: "\e936";
}
.icon-pick-light:before {
  content: "\e937";
}
.icon-plc:before {
  content: "\e938";
}
.icon-plus-sm:before {
  content: "\e939";
}
.icon-plus:before {
  content: "\e93a";
}
.icon-print:before {
  content: "\e93b";
}
.icon-process-data:before {
  content: "\e93c";
}
.icon-production:before {
  content: "\e93d";
}
.icon-qr-code:before {
  content: "\e93e";
}
.icon-quality:before {
  content: "\e93f";
}
.icon-report:before {
  content: "\e940";
}
.icon-save:before {
  content: "\e941";
}
.icon-scanner:before {
  content: "\e942";
}
.icon-screen-full:before {
  content: "\e943";
}
.icon-screen-window:before {
  content: "\e944";
}
.icon-search-sm:before {
  content: "\e945";
}
.icon-sigma:before {
  content: "\e946";
}
.icon-sn-transfer:before {
  content: "\e947";
}
.icon-sn:before {
  content: "\e948";
}
.icon-star-sm:before {
  content: "\e949";
}
.icon-star:before {
  content: "\e94a";
}
.icon-station:before {
  content: "\e94b";
}
.icon-summary:before {
  content: "\e94c";
}
.icon-target:before {
  content: "\e94d";
}
.icon-time-over:before {
  content: "\e94e";
}
.icon-time-x:before {
  content: "\e94f";
}
.icon-time:before {
  content: "\e950";
}
.icon-timer:before {
  content: "\e951";
}
.icon-torque:before {
  content: "\e952";
}
.icon-trace:before {
  content: "\e953";
}
.icon-twitter:before {
  content: "\e954";
}
.icon-user:before {
  content: "\e955";
}
.icon-x-sm:before {
  content: "\e956";
}
.icon-x:before {
  content: "\e957";
}
.icon-youtube:before {
  content: "\e958";
}
