@font-face {
  font-family: 'icomoon';
  src:  url('https://cdn2.hubspot.net/hubfs/490686/_site/Icons/icomoon.eot?z74re4');
  src:  url('https://cdn2.hubspot.net/hubfs/490686/_site/Icons/icomoon.eot?z74re4#iefix') format('embedded-opentype'),
    url('https://cdn2.hubspot.net/hubfs/490686/_site/Icons/icomoon.ttf?z74re4') format('truetype'),
    url('https://cdn2.hubspot.net/hubfs/490686/_site/Icons/icomoon.woff?z74re4') format('woff'),
    url('https://cdn2.hubspot.net/hubfs/490686/_site/Icons/icomoon.svg?z74re4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping:before {
  content: "\e967";
}
.icon-aerospace:before {
  content: "\e968";
}
.icon-appliances:before {
  content: "\e969";
}
.icon-car:before {
  content: "\e96a";
}
.icon-devices:before {
  content: "\e96b";
}
.icon-health:before {
  content: "\e96c";
}
.icon-heavy-equipment:before {
  content: "\e96d";
}
.icon-manufacture-beverage:before {
  content: "\e96e";
}
.icon-improvement:before {
  content: "\e900";
}
.icon-operator:before {
  content: "\e901";
}
.icon-engineer-quality:before {
  content: "\e902";
}
.icon-team-leader:before {
  content: "\e903";
}
.icon-engineer:before {
  content: "\e904";
}
.icon-businessman:before {
  content: "\e905";
}
.icon-it:before {
  content: "\e906";
}
.icon-corporate:before {
  content: "\e907";
}
.icon-andon:before {
  content: "\e908";
}
.icon-ar:before {
  content: "\e909";
}
.icon-arrow-down-sm:before {
  content: "\e90a";
}
.icon-arrow-down:before {
  content: "\e90b";
}
.icon-arrow-left-sm:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90d";
}
.icon-arrow-right-sm:before {
  content: "\e90e";
}
.icon-arrow-right:before {
  content: "\e90f";
}
.icon-arrow-up-sm:before {
  content: "\e910";
}
.icon-arrow-up:before {
  content: "\e911";
}
.icon-button:before {
  content: "\e912";
}
.icon-camera:before {
  content: "\e913";
}
.icon-caution:before {
  content: "\e914";
}
.icon-check-circle:before {
  content: "\e915";
}
.icon-check-outline:before {
  content: "\e916";
}
.icon-check-sm:before {
  content: "\e917";
}
.icon-check-thick-sm:before {
  content: "\e918";
}
.icon-check:before {
  content: "\e919";
}
.icon-checkbox-checked:before {
  content: "\e91a";
}
.icon-checkbox:before {
  content: "\e91b";
}
.icon-cobot:before {
  content: "\e91c";
}
.icon-cobot2:before {
  content: "\e91d";
}
.icon-collect:before {
  content: "\e91e";
}
.icon-control:before {
  content: "\e91f";
}
.icon-cost:before {
  content: "\e920";
}
.icon-cycletime:before {
  content: "\e921";
}
.icon-down-time:before {
  content: "\e922";
}
.icon-edit-sm:before {
  content: "\e923";
}
.icon-edit:before {
  content: "\e924";
}
.icon-ellipsis:before {
  content: "\e925";
}
.icon-exit:before {
  content: "\e926";
}
.icon-expand:before {
  content: "\e927";
}
.icon-facebook:before {
  content: "\e928";
}
.icon-file:before {
  content: "\e929";
}
.icon-filter:before {
  content: "\e92a";
}
.icon-flexible:before {
  content: "\e92b";
}
.icon-foot-print:before {
  content: "\e92c";
}
.icon-gauge:before {
  content: "\e92d";
}
.icon-gear:before {
  content: "\e92e";
}
.icon-hamburger:before {
  content: "\e92f";
}
.icon-home:before {
  content: "\e930";
}
.icon-image:before {
  content: "\e931";
}
.icon-indicators:before {
  content: "\e932";
}
.icon-infinity:before {
  content: "\e933";
}
.icon-instructions:before {
  content: "\e934";
}
.icon-learn:before {
  content: "\e935";
}
.icon-link:before {
  content: "\e936";
}
.icon-linkedin:before {
  content: "\e937";
}
.icon-list:before {
  content: "\e938";
}
.icon-lock:before {
  content: "\e939";
}
.icon-mail:before {
  content: "\e93a";
}
.icon-minus-sm:before {
  content: "\e93b";
}
.icon-minus:before {
  content: "\e93c";
}
.icon-mobile:before {
  content: "\e93d";
}
.icon-pick-light:before {
  content: "\e93e";
}
.icon-plc:before {
  content: "\e93f";
}
.icon-plus-sm:before {
  content: "\e940";
}
.icon-plus:before {
  content: "\e941";
}
.icon-print:before {
  content: "\e942";
}
.icon-process-data:before {
  content: "\e943";
}
.icon-production:before {
  content: "\e944";
}
.icon-qr-code:before {
  content: "\e945";
}
.icon-quality:before {
  content: "\e946";
}
.icon-report:before {
  content: "\e947";
}
.icon-save:before {
  content: "\e948";
}
.icon-scanner:before {
  content: "\e949";
}
.icon-screen-full:before {
  content: "\e94a";
}
.icon-screen-window:before {
  content: "\e94b";
}
.icon-search-sm:before {
  content: "\e94c";
}
.icon-shield:before {
  content: "\e94d";
}
.icon-shift:before {
  content: "\e94e";
}
.icon-sigma:before {
  content: "\e94f";
}
.icon-sn-transfer:before {
  content: "\e950";
}
.icon-sn:before {
  content: "\e951";
}
.icon-star-sm:before {
  content: "\e952";
}
.icon-star:before {
  content: "\e953";
}
.icon-station:before {
  content: "\e954";
}
.icon-summary:before {
  content: "\e955";
}
.icon-target:before {
  content: "\e956";
}
.icon-time-over:before {
  content: "\e957";
}
.icon-time-x:before {
  content: "\e958";
}
.icon-time:before {
  content: "\e959";
}
.icon-timer:before {
  content: "\e95a";
}
.icon-toggle:before {
  content: "\e95b";
}
.icon-tools:before {
  content: "\e95c";
}
.icon-torque:before {
  content: "\e95d";
}
.icon-trace:before {
  content: "\e95e";
}
.icon-traceability:before {
  content: "\e95f";
}
.icon-tree:before {
  content: "\e960";
}
.icon-twitter:before {
  content: "\e961";
}
.icon-user:before {
  content: "\e962";
}
.icon-wifi:before {
  content: "\e963";
}
.icon-x-sm:before {
  content: "\e964";
}
.icon-x:before {
  content: "\e965";
}
.icon-youtube:before {
  content: "\e966";
}
