@each $color, $hex in $theme-colors
  .blend-multiply-#{$color}
    background-color: $hex
    mix-blend-mode: multiply
  .blend-exclusion-#{$color}
    background-color: $hex
    mix-blend-mode: exclusion

=static-resolution($desc, $value)
  $width: $value
  .res-#{$desc}
    width: $width / .875 + vw
    height: $width / 1.555 + vw
    max-height: ( 9 * $width ) / 16 + rem
    max-width: $width + rem
    min-width: $width / 1.45 + rem
    min-height: $width / 2.62 + rem
  .w-#{$desc}
    width: $width vw
    max-width: $width + rem
    min-width: $width / 2 + rem
  .h-#{$desc}
    height: $width / 1.78 + vw
    max-height: ( 9 * $width ) / 16 + rem
    oveflow: ellipse
  .res-lg-#{$desc}
    @media (min-width: 992px)
      width: $width / .875 + vw
      height: $width / 1.555 + vw
      max-height: ( 9 * $width ) / 16 + rem
      max-width: $width + rem
      min-width: $width / 1.45 + rem
      min-height: $width / 2.62 + rem
  .w-lg-#{$desc}
    @media (min-width: 992px)
      width: $width vw
      max-width: $width + rem
      min-width: $width / 2 + rem
  .h-lg-#{$desc}
    @media (min-width: 992px)
      height: $width / 1.78 + vw
      max-height: ( 9 * $width ) / 16 + rem
      oveflow: ellipse

+static-resolution(sm, 25)
+static-resolution(md, 17)
+static-resolution(lg, 24)

@include media-breakpoint-up(lg)
  +static-resolution(sm, 12)
  +static-resolution(md, 17.5)
  +static-resolution(lg, 24)
  +static-resolution(half, 42)

=icon-size($desc, $value)
  .icon-#{$desc}
    font-size: $value + rem

+icon-size(lg, 2)
+icon-size(xl, 2.5)
+icon-size(xxl, 4)  

@include media-breakpoint-up(lg)
  +icon-size(lg, 2)
  +icon-size(xl, 4)
  +icon-size(xxl, 6)

@for $i from 0 through 20
  $opacity: $i * 5
  .opacity-#{$opacity}
    opacity: $opacity / 100
  .opacity-#{$opacity}-hover
    &:hover
      opacity: $opacity / 100