.tab-card
  border: 1px solid map-get($theme-colors, 'none')
  &.active
    border: 1px solid map-get($theme-colors, 'primary')

@each $color, $hex in $theme-colors
  .list-bullets-#{$color}
    li::before
      content: "\2022"
      color: $hex
      display: inline-block
      width: 1.5rem
      margin-left: -1.5rem
    li
      margin-left: -1rem