
=blend-mode($blend-mode)
  @each $color, $hex in $theme-colors
    .blend-#{$blend-mode}-#{$color}
      background-color: $hex
      mix-blend-mode: $blend-mode

+blend-mode(multiply)
+blend-mode(exclusion)
+blend-mode(overlay)
+blend-mode(hue)

// Sizes

=static-resolution($desc, $value)
  $width: $value
  .res-#{$desc}
    width: $width / .875 + vw
    height: $width / 1.555 + vw
    max-height: ( 9 * $width ) / 16 + rem
    max-width: $width + rem
    min-width: $width / 1.45 + rem
    min-height: $width / 2.62 + rem
  .w-#{$desc}
    width: $width vw
    max-width: $width + rem
    min-width: $width / 2 + rem
  .h-#{$desc}
    height: $width / 1.78 + vw
    max-height: ( 9 * $width ) / 16 + rem
    oveflow: ellipse

+static-resolution(sm, 25)
+static-resolution(md, 17)
+static-resolution(lg, 24)

@include media-breakpoint-up(lg)
  +static-resolution(sm, 12)
  +static-resolution(md, 17.5)
  +static-resolution(lg, 24)
  +static-resolution(half, 42)


// Responsive Sizes

=static-resolution-responsive($desc, $value, $size, $min-width)
  $width: $value
  .res-#{$size}-#{$desc}
    @media (min-width: $min-width)
      width: $width / .875 + vw
      height: $width / 1.555 + vw
      max-height: ( 9 * $width ) / 16 + rem
      max-width: $width + rem
      min-width: $width / 1.45 + rem
      min-height: $width / 2.62 + rem
  .w-#{$size}-#{$desc}
    @media (min-width: $min-width)
      width: $width vw
      max-width: $width + rem
      min-width: $width / 2 + rem
  .h-#{$size}-#{$desc}
    @media (min-width: $min-width)
      height: $width / 1.78 + vw
      max-height: ( 9 * $width ) / 16 + rem
      oveflow: ellipse

+static-resolution-responsive(sm, 25, lg, 992px)
+static-resolution-responsive(md, 17, lg, 992px)
+static-resolution-responsive(lg, 24, lg, 992px)
+static-resolution-responsive(half, 42, lg, 992px)


// Sizes (Full)

.res-full, .w-full
  width: 100vw !important
.res-full, .h-full
  height: 42vw !important
  min-height: 20rem
  max-height: 42rem

// Icon Sizes

=icon-size($desc, $value)
  .icon-#{$desc}
    font-size: $value + rem

+icon-size(lg, 2)
+icon-size(xl, 2.5)
+icon-size(xxl, 4)  

@include media-breakpoint-up(lg)
  +icon-size(lg, 2)
  +icon-size(xl, 4)
  +icon-size(xxl, 6)

// Opacity
@for $i from 0 through 20
  $opacity: $i * 5
  .opacity-#{$opacity}
    opacity: $opacity / 100
  .opacity-#{$opacity}-hover
    &:hover
      opacity: $opacity / 100

// Positioning
@each $spacer, $size in $spacers
  .l-#{$spacer}
    left: $size
  .t-#{$spacer}
    top: $size
  .r-#{$spacer}
    right: $size
  .b-#{$spacer}
    bottom: $size