// Utilities from Mixins

=blend-mode($blend-mode)
  @each $color, $hex in $theme-colors
    .blend-#{$blend-mode}-#{$color}
      background-color: $hex
      mix-blend-mode: $blend-mode

+blend-mode(multiply)
+blend-mode(exclusion)
+blend-mode(difference)
+blend-mode(overlay)
+blend-mode(overlay)
+blend-mode(hue)
+blend-mode(color)

// Icon Sizes

=icon-size($desc, $value)
  .icon-#{$desc}
    font-size: $value + rem

+icon-size(lg, 2)
+icon-size(xl, 2.5)
+icon-size(xxl, 4)  

@include media-breakpoint-up(lg)
  +icon-size(lg, 2)
  +icon-size(xl, 4)
  +icon-size(xxl, 6)

// Opacity
@for $i from 0 through 20
  $opacity: $i * 5
  .opacity-#{$opacity}
    opacity: $opacity / 100
  .opacity-#{$opacity}-hover
    &:hover
      opacity: $opacity / 100

// Positioning
@each $spacer, $size in $spacers
  .l-#{$spacer}
    left: $size
  .t-#{$spacer}
    top: $size
  .r-#{$spacer}
    right: $size
  .b-#{$spacer}
    bottom: $size