include ../../../components/features/_feature-4.pug

.d-flex.flex-wrap.justify-content-center.w-100.p-5
  .d-flex.flex-wrap.justify-content-lg-center.align-items-stretch.flex-lg-row.flex-column
    .m-4
      +feature-4('1_1')
    .m-4
      +feature-4('1_2')
  .d-flex.flex-wrap.justify-content-lg-center.align-items-stretch.flex-lg-row.flex-column   
    .m-4
      +feature-4('1_3')
    .m-4
      +feature-4('1_4')