//- about-us.pug
extends ../../../templates/_template.pug

block content
  include ../../../components/_image-wallpaper-7.pug
  +image-wallpaper-7('0_1')

  include blocks/_block-1.pug
  include blocks/_block-2.pug
  include blocks/_block-3.pug
  include blocks/_block-4.pug