//- home.pug
extends ../../templates/_template.pug

block content
  include ../../components/wallpapers/_title-solutions.pug
  - var color = 'cyan'
  - var position = ''
  +title-solution('0_1')

  include blocks/_block-1.pug
  include blocks/_block-2.pug
  include blocks/_block-3.pug
  include blocks/_block-4.pug
  include blocks/_block-5.pug
  include blocks/_block-6.pug
  include blocks/_block-7.pug
  include blocks/_block-8.pug
  include blocks/_block-9.pug
  include blocks/_block-10.pug