//- Components
//- Image - Size: Custom

//- Single Image

mixin image(index)
  .res-half.img-clip-rounded.
    {% module "Image_#{index}" path='/_eflex/components/image' extra_classes='#{extraClasses}' %}