//- Components
//- Feature 8

include ../images/_image-md.pug
mixin feature-8(index)
  .d-flex.flex-wrap.justify-content-center.justify-content-lg-start
    .m-3
      +image-md(index)
    .d-flex.flex-column.w-md.m-3
      h5.mb-2.
        {% raw_html "Feature_#{index}_Heading", label="Feature_#{index}_Heading", value="{{ heading_var }}"  %}
      p.
        {% raw_html "Feature_#{index}_Body", label="Feature_#{index}_Body", value="{{ paragraph_var }}" extra_classes="w-md" %}
