//- Components
//- Feature 4

mixin feature-4(index)
  .w-lg
    .d-flex.flex-column.flex-lg-row
      .icon-xl.text-primary.m-lg-4(class!='{% text \"Feature_' + index + '_Icon\", value="icon-cobot", no_wrapper=True %}')
      .d-flex.flex-column.mr-lg-4.my-auto.py-4
        h6.mb-3
          | {% raw_html "Feature_#{index}_Heading", label="Feature_#{index}_Heading", value='{{ heading_var }}' %}
        p.w-lg.line-height-sm
          | {% raw_html "Feature_#{index}_Text", label="Feature_#{index}_Text", value='{{ body-sm_var }}' %}