//- kitting-brochure-form.pug
extends ../../../templates/_template.pug
include ../../../components/_list.pug

block script
  script( src="{{ get_public_template_url('/_eflex/script/form-2-steps.js') }}")

block content
  .d-flex.flex-column.justify-content-center.align-items-center.w-100.overflow-hidden
    .w-100.position-relative
      // Image
      .w-100.h-100.img-clip.position-absolute.overflow-hidden.img-inset-wide.opacity-20.
        {% set class = "position-absolute #{position}" %}
        {% module "Wallpaper_0_1" path='/_eflex/components/image' %}
      // Blend Color
      .w-100.h-100.position-absolute
        .w-100.h-100.blend-color-white
      // Blend Multiply
      .w-100.h-100.position-absolute
        .w-100.h-100.blend-multiply-brand-dark
      // Content
      .w-100
        .d-flex.flex-lg-row.flex-column.justify-content-center.align-items-center.w-100.h-100
          .text-shadow.d-flex.flex-column.justify-content-start.align-items-center.align-items-lg-start.w-lg.h-100.z-index-1.mx-auto
            h6.w-100.text-white.font-italic.mb-2.
              {% raw_html "Page_Title", label="Page_Title", value='{{ heading_var }}' %}
            h2.w-100.text-orange.font-weight-bold.text-lg-nowrap.mb-5.
              {% raw_html "Page_Subtitle", label="Page_Subtitle", value='{{ title_var }}' %}
            p.text-white.w-100.mb-0.
              {% raw_html "Page_Body_1_1", label="Page_Body_1_1", value='{{ title_var }}' %}
            .bullets-orange.h6.text-white.w-lg(class!='{% text \"Bullets_Display\", value="d-block", label=\"Bullets_Display (d-none or d-block)\", no_wrapper=True %}')
              - var n = 5
              +list('1')
            p.text-white.w-lg.mb-0.
              {% raw_html "Page_Body_1_2", label="Page_Body_1_2", value='{{ title_var }}' %}
            
            
          .form-responsive.d-flex.mx-auto.mx-lg-0
            // Form
            #download_request.d-flex.flex-column.justify-content-center.form.form-steps.w-100.vh-100.max-w-unset.w-lg-half.bg-white.content-box.position-relative.p-5.pt-5
              | {% form "Download Request" form_to_use='bad83811-531c-41e2-976a-18114e475497', title='Download Request' extra_classes='pb-5' %}

              // Validation Alert
              #hs-errors-validation-popup.position-absolute.w-lg.bg-red.rounded.opacity-85.r-5( style="bottom: 7rem; display: none;" )
                .d-flex
                  .icon-caution.icon-lg.text-white.p-3
                  p.text-white.text-left.w-md.p-3.mb-0 Please go back and complete the required fields.
                  #hs-errors-validation-x.icon-x-sm.icon-lg.text-white( style="cursor: pointer" )

              .d-flex.w-100
                // Prev
                button#form-prev-2.btn-outline-primary.rounded-pill.w-md.p-2.slick-slide.ml-auto.mr-3
                  .d-flex.justify-content-center.position-relative
                    .icon-arrow-left-sm.position-absolute.l-0( style = "font-size: 1.5rem")
                    p.m-0 Back

                // Next
                button#form-next-1.btn-primary.rounded-pill.w-md.p-2.slick-slide.ml-auto
                  .d-flex.justify-content-center.position-relative
                    p.m-0 Next
                    .icon-arrow-right-sm.position-absolute.r-0( style = "font-size: 1.5rem")