include ../../../../components/layouts/_layout-5.pug
.row.no-gutters.bg-gray-100
  .col-lg.col-12.d-flex
    .w-100.h-100.img-clip.max-h-xxl.
      {% set class = "h-auto w-100" %}
      {% module "Image_#{index}" path='/_eflex/components/image' %}
    // Blend Exclusion
    .w-100.h-100.position-absolute
      .blend-exclusion-gray.rounded.w-100.h-100.opacity-35

  // Body
  .col-lg.col-12.d-flex.justify-content-center.align-items-center
    .d-flex.flex-column
      h4.text-brand.mb-4 Our Culture
      p.w-lg-lg.p-5.p-lg-0.
        {% raw_html "Body_1_1" value="{{ body_var }}" %}