include ../../../components/_carousel-2.pug

.block-fluid.row.no-gutters.justify-content-around.align-items-center.h-lgx3.bg-white.w-100.overflow-hidden.p-5.mb-5
  - var carouselNumber = '3'
  +carousel-2('8_1')