include ../../../components/layouts/_layout-3.pug

.d-flex.flex-column.max-w-lg-xxl.m-5.mx-lg-auto
    h3.mb-5 Where can digital work instructions be used?
    .row.no-gutters
        mixin paragraph(index)            
            .d-flex.flex-column.w-lg.mb-4
                h5.mb-3.
                    {% raw_html "Heading_#{index}" label="Heading_#{index}", value="{{ heading_var }}" %}
                p.w-lg.
                    {% raw_html "Body_#{index}" label="Body_#{index}", value="{{ body-lg_var }}" %}
        
        .col-lg-6.col-12
            .d-flex.flex-column
                +paragraph('3_1')
                +paragraph('3_2')
                +paragraph('3_3')
        .col-lg-6.col-12
            .d-flex.flex-column
                +paragraph('3_4')
                +paragraph('3_5')
