include ../../../components/features/_feature-9.pug

.d-flex.flex-column.border-bottom.my-5.p-lg-5.m-lg-5
    h3.text-center.m-3.mb-5 Areas utilized by digital work instructions.
    .d-flex.flex-column.mx-lg-auto
        .d-flex.flex-lg-row.flex-column.mb-4
            +feature-9('3_1')
            +feature-9('3_2')
            +feature-9('3_4')
        .d-flex.flex-lg-row.flex-column
            +feature-9('3_5')
            +feature-9('3_6')
            +feature-9('3_7')