// Smart Work Instructions

include ../../../components/layouts/_layout-5.pug
include ../../../components/_desktop.pug
include ../../../components/images/_image-lg.pug
include ../../../components/wallpapers/_image-wallpaper-4.pug
include ../../../components/_carousel-1.pug

+image-wallpaper-4('6_1')
.d-flex.justify-content-lg-center.align-items-center.flex-column.py-5.border-bottom.mx-lg-5
    .d-flex.flex-column.align-items-center
        .d-flex.flex-lg-row.flex-column.align-items-center.m-5.m-lg-0
            .scale-75( style="clip-path: inset(0 0 17% 0)")
                +desktop('6_1')
            +layout-5('6_1')
    .d-flex.flex-lg-row.flex-column.align-items-center.m-5.m-lg-0
        +layout-5('6_2')
        .scale-75( style="clip-path: inset(0 0 17% 0)")
            +desktop('6_2')
    .d-flex.flex-column.align-items-center
        .d-flex.flex-lg-row.flex-column.align-items-center.m-5.m-lg-0
            .scale-75( style="clip-path: inset(0 0 17% 0)")
                +desktop('6_3')
            +layout-5('6_3')