include ../../../components/wallpapers/_image-wallpaper-2.pug
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.mb-5
  - var position = 'w-lg-lg'
  +image-wallpaper-2('7_1')