// Slick Carousel Dots

.carousel-dots-light 
    .slick-dots li button::before
        font-size: 0
        height: .4rem
        width: .4rem
        @extend .bg-white, .rounded-circle

.carousel-dots-dark
    .slick-dots li button::before
        font-size: 0
        height: .4rem
        width: .4rem
        @extend .bg-gray-800, .rounded-circle