//- home.pug
extends ../../templates/_template.pug

block content
  include ../../components/wallpapers/_title-solutions.pug
  - var color = 'yellow'
  +title-solution('0_1')

  include blocks/_block-1.pug