// Continuous Improvement
include ../../../components/images/_image-half.pug

.d-flex.justify-content-lg-center.align-items-center.flex-column.mx-5.py-5.border-bottom
    .d-flex.justify-content-center.align-items-center.flex-lg-row.flex-column.mb-5
        .w-half.img-clip-rounded.m-lg-4.
            {% set class = "w-auto h-half rounded" %}
            {% module "Image_11_1" label="Image_11_1", path='/_eflex/components/image' extra_classes='d-flex justify-content-lg-center' %}
        +layout-3('11_1')
