// BOM/Model

include ../../../components/layouts/_layout-3.pug
include ../../../components/images/_image.pug

.d-flex.justify-content-lg-center.align-items-center.flex-column.mx-5.py-5.border-bottom
    .d-flex.flex-column.justify-content-center.align-items-center
        .text-center
            +layout-3('1_1')
        .h-lgx2.w-auto.img-clip-rounded.mt-n5.d-none.d-md-block.
            {% set class = "h-lgx2 w-auto rounded #{position}" %}
            {% module "Infographic_1", label="Infographic_1", path='/_eflex/components/image' %}