//- index.pug
extends ../../templates/_template.pug

block script
    //- slick-carousel
    script( type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
    script( type='text/javascript' )
        include ./script.js

block content
    //- Components being used.
    include ../../components/_rawHtml.pug
    include ../../components/_cta.pug
    include ../../components/_image.pug
    
    //- make GM smaller and add in later
    - var clients = ['GM_05', 'GE-Healthcare', 'Snap-on', 'Nissan', 'Gatan', 'Flexngate', 'Faurecia', 'Panasonic', 'Mueller']

    //- masthead container
    //- Top padding for fixed header module
    .position-relative.w-100.py-5( style='min-height: 40rem' )

        //- Background Image
        .bg-gray-800.w-100.h-100.position-absolute(style= 'top: 0')

        //- Home Content
        .w-100.h-100
            
            .container.h-100
                .row.h-100

                    //- Masthead Introduction
                    .col-12.col-lg-6
                        .d-flex.flex-column.justify-content-around.h-100.py-4
                            .p-3.p-md-5
                                .d-flex.flex-column
                                    h1.display-1.text-uppercase.text-white.text-lg-nowrap.mb-4( style="hyphens: auto" )
                                        +rawHtml ({
                                            name: 'title_masthead',
                                            value: 'Solve the Manufacturing Data Gap.'
                                        })

                                    p.lead.text-white
                                        +rawHtml ({
                                            name: 'desc_masthead',
                                            value: 'The manufacturing industry is poised for massive change and disruption. Beat the competition with eFlex’s Manufacturing Integrated Platform.'
                                        })

                            //- Masthead CTAs            
                            .row
                                .col
                                    .p-3.p-md-5
                                        .row
                                            .col-12.col-md.mb-3.mb-lg-0
                                                +cta ({
                                                    name: 'secondaryCta',
                                                    variant: 'outline-white',
                                                    class: 'w-100'
                                                })
                                            .col-12.col-md
                                                +cta ({
                                                    name: 'primaryCta',
                                                    variant: 'primary',
                                                    class: 'w-100'
                                                })
                    
                    //- Spotlight Widget
                    .col-12.col-lg-6
                        .row.justify-content-center.h-100
                            .col.col-lg-10
                                .d-flex.flex-column.justify-content-end.align-items-center.h-100
                                    h4.text-white.text-uppercase.mb-0
                                        +rawHtml ({
                                            name: 'heading_spotlight_masthead',
                                            value: '2020 Spotlight'
                                        })
                                    .pb-4.w-100
                                        .p-3.p-md-4.w-100
                                            #carousel-spotlight.slick-carousel.carousel-dots-light.w-100.pb-3
                                                .d-flex.align-items-center.h-100
                                                    p.text-white.text-center.p-3
                                                        +rawHtml ({
                                                            value: '2019 New Product of the Year, Factory of the Future Nomination by Assembly Magazine'
                                                        })
                                                .d-flex.align-items-center.h-100
                                                    p.text-white.text-center.p-3
                                                        +rawHtml ({
                                                            name: 'spotlight2_masthead',
                                                            value: '2019 New Product of the Year, Factory of the Future Nomination by Assembly Magazine'
                                                        })
                                                .d-flex.align-items-center.h-100
                                                    p.text-white.text-center.p-3
                                                        +rawHtml ({
                                                            name: 'spotlight3_masthead',
                                                            value: '2019 New Product of the Year, Factory of the Future Nomination by Assembly Magazine'
                                                        })

    //- Clients Carousel
    .container
        .row
            .col
                .p-3.p-md-5
                    #carousel-clients.slick-carousel.carousel-dots-dark.pb-3
                        - for ( var i = 0; i < clients.length; i++ )
                            - var name = 'logoClient' + i
                            - var src = 'https://f.hubspotusercontent00.net/hubfs/8439350/Logos/Client%20Logos/Logo_' + clients[i] + '.svg'
                            - var alt = 'eFlex Trusted Customer Logo for ' + clients[i]

                            .d-flex.justify-content-center.align-items-center.p-3.m-3( style="width: 10rem; height: 6rem;" )
                                +image ({
                                    name: name,
                                    src: src,
                                    alt: alt,
                                })

    //- Main Features
    .container
        .row
            //- Main Features Image
            .col-12.col-lg.my-auto
                .p-3.p-md-5
                    +image ({
                        name: 'image_mainFeatures',
                        src: 'https://picsum.photos/400/300'
                    })
            
            .col-12.col-lg
                .p-3.p-md-5
                    h2.text-uppercase
                        +rawHtml ({
                            name: 'heading_mainFeatures',
                            value: 'Increase Throughput. Maximize Quality. Reduce Costs.'
                        })
                    p.lead
                        +rawHtml ({
                            name: 'p1_mainFeatures',
                            value: 'MIP is powered by the MIP Data— providing detailed integrated granular manufacturing process data down to the most basic task level. All in one place.'
                        })
                    p.lead
                        +rawHtml ({
                            name: 'p2_mainFeatures',
                            value: 'Intelligent MIP Data enables powerful end-to-end people and data collaboration across the enterprise. Everyone from the front office to the shop floor to the delivery team can see the status of your production line and get real-time actionable insight.'
                        })
                    
                    //- Learn More Button
                    button.btn.btn-link.text-left.p-0
                        .d-flex.align-items-center
                            +cta ({
                                name: 'cta_mainFeatures',
                                variant: 'flat',
                                class: 'p-0'
                            })
    
    //- Simple Startup
    .container
        .row
            .col-12.col-lg
                .p-3.p-md-5
                    h3
                        +rawHtml ({
                            name: 'heading_simpleStart',
                            value: 'MIP is simple to configure— it’s all connected.'

                        })
                    
                    p
                        +rawHtml ({
                            name: 'p1_simpleStart',
                            value: 'It’s one integrated platform. It’s all connected so it doesn’t need months to configure. You can be up and running in just a few days. No more complex layers— no more vendors trying to talk to each other across your manufacturing environment.'
                        })
                    p
                        +rawHtml ({
                            name: 'p2_simpleStart',
                            value: 'Turn new solutions on instantly. Workflows can be changed iteratively and quickly, as the system learns and reacts.'
                        })

            .col-12.col-lg
                .p-3.p-md-5
                    +image ({
                        name: 'image_simpleStart',
                        src: 'https://picsum.photos/300/200'
                    })

    //- Continuous Improvement
    .container
        .row
            .col-12.col-lg
                .p-3.p-md-5
                    h3
                        +rawHtml ({
                            name: 'heading_continuousImprovement',
                            value: 'Always Learning & Improving'

                        })
                    
                    p
                        +rawHtml ({
                            name: 'p1_continuousImprovement',
                            value: 'MIP will optimize your shop floor end-to-end to produce the best products. Highly granular data supports a system for continuous learning and improving to produce the highest quality products. More productive, empowered shop floor team members. Maximum shop floor operational efficiency. Better shop floor ROI and profitability.'
                        })
                        
            .col-12.col-lg
                .p-3.p-md-5
                    +image ({
                        name: 'image_continuousImprovement',
                        src: 'https://picsum.photos/400/200'
                    })