
//- Components
//- Image - Size: Medium

//- Single Image

mixin image-md(index)
  .img-clip-rounded.mb-lg-0.
    {% set class = "res-md h-auto w-100" %}
    {% module "Image_#{index}" path='/_eflex/components/image' %}