include ../../../components/_feature-6.pug
.d-flex.justify-content-center.p-5
  .d-flex.flex-column.align-items-lg-center.w-lg.w-lg-full
    h3.text-primary.text-lg-center.mb-4.
      {% raw_html "Title_#{index}" value="{{ heading_var }}" %}
    h5.text-lg-center.mb-5.
      {% raw_html "Heading_#{index}" value="{{ paragraph_var }}" %}
    .d-flex.justify-content-lg-center.flex-wrap

      .d-flex.flex-wrap.justify-content-lg-center
        .d-flex.flex-column.flex-lg-row.mx-auto.mx-lg-0.mr-3.mr-lg-0
          +feature-6('6_1')
          +feature-6('6_2')
        .d-flex.flex-column.flex-lg-row.mx-auto.mx-lg-0
          +feature-6('6_3')
          +feature-6('6_4')

      .d-flex.flex-wrap.justify-content-lg-center
        .d-flex.flex-column.flex-lg-row.mx-auto.mx-lg-0.mr-3.mr-lg-0
          +feature-6('6_5')
          +feature-6('6_6')
        .d-flex.flex-column.flex-lg-row.mx-auto.mx-lg-0
          +feature-6('6_7')
          +feature-6('6_8')