include ../../../components/_image-wallpaper-2.pug
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.mb-5
  - var guid = "c816188f-d48b-4488-8e55-6cb4bbb2d6d9"
  - var position = 'w-lg-lg'
  +image-wallpaper-2('4_1')