include ../../../components/_image-lg.pug
include ../../../components/_layout-5.pug
include ../../../components/_desktop.pug

.d-flex.justify-content-lg-center.align-items-center.flex-column.p-5
  .d-flex.flex-lg-row.flex-column.align-items-center
    +layout-5('2_1')
  .d-flex.flex-lg-row.flex-column.align-items-center
    +layout-5('2_2')
    +image-lg('2_2')
  .d-flex.flex-lg-row.flex-column.align-items-center.align-items-lg-start
    +image-lg('2_3')
    - var guid = "5b5ead33-5208-478e-9c76-160413714bca"
    +layout-5('2_3')