include ../../../components/_image-lg.pug
include ../../../components/_layout-5.pug

.d-flex.justify-content-lg-center.align-items-center.flex-column.border-bottom.p-5
  .d-flex.flex-lg-row.flex-column
    +image-lg('2_1')
    +layout-5('2_1')
  .d-flex.flex-lg-row.flex-column
    +layout-5('2_2')
    +image-lg('2_2')
  .d-flex.flex-lg-row.flex-column
    +image-lg('2_3')
    +layout-5('2_3')