// Components
// Image

.link, a.link:not([href]):not([tabindex])
  color: map-get($theme-colors, 'gray-500')
  @extend .cursor-pointer
  &:hover
    color: map-get($theme-colors, 'primary')
    text-decoration: none