// Components
// Videos

.video_wrap
  pointer-events: none
  video
    width: 100vw
    min-width: 177.78vh
    height: 100vh
    min-height: 56.25vw

.video-yt
  height: 41.5vw
  width: 80vw
  @include media-breakpoint-up(lg)
    height: 20vw
  
@media (max-width: 920px)
  .video
    right: 18.75rem