// Components
// Videos

.video_wrap
  pointer-events: none
  video
    width: 100vw
    min-width: 177.78vh
    height: 100vh
    min-height: 56.25vw

.video-ytp
  width: 42vw !important
  // max-width: 42rem
  min-width: 21rem
  height: 22vw !important
  min-height: 11rem
  
@media (max-width: 920px)
  .video
    right: 18.75rem