//- Pug.js iterations
.
    {%- macro render_link_children(link,depth)-%}
        {%- if link!= [] && link.label -%}
            {%- if link.children -%}
                <div class="col-12 col-lg mb-5 mb-lg-0">
                    <p class="font-weight-bold text-uppercase small border-bottom mx-4 py-3 mb-3">{{link.label}}</p>
                    {%- set depth = depth + 1-%}
                    {%- for sublink in link.children -%}
                        {{render_link_children(sublink,depth)}}
                    {%- endfor -%}
                </div>
            {%- else -%}
                <li class="nav-item hs-menu-item hs-menu-depth-{{depth}} hs-item-has-children" aria-role="none">
                    <a class="nav-link link-secondary small p-0 mb-1" href="{{link.url if link.url else '#'}}" aria-role="menuitem">{{link.label}}</a>
                </li>
            {%- endif -%}
        {%- endif -%}
    {%- endmacro -%}

    {%- macro render_link_item(link,depth)-%}
        {%- if link != [] && link.label -%}
            <div class="col-12 col-md">
                <div class="p-3 p-md-5">
                    <ul class="nav flex-column sc-site-header__menu hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal sc-site-header__menu--{{ module.menu_field }}" aria-label="{{menu_name}} menu" aria-role="menubar">
                        {%- if link.children -%}
                            <p class="text-white small font-weight-bold">{{link.label}}</p>
                            {%- set depth = depth + 1 -%}
                            {%- for sublink in link.children -%}
                                {{render_link_children(sublink,depth)}}
                            {%- endfor -%}
                        {%- else -%}
                            <li class="nav-item hs-menu-item hs-menu-depth-{{depth}} " aria-role="none">
                                <a class="nav-link link-secondary small p-0 mb-1" href="{{link.url if link.url else '#'}}" aria-role="menuitem">{{link.label}}</a>
                            </li>
                        {%- endif -%}
                    </ul>
                </div>
            </div>
        {%- endif -%}
        
    {%- endmacro -%}

//- Start of Footer Structure
#footer.nav-dark.bg-gray-800
    .container
        .row.py-3.py-md-0
            .col-12.col-md
                .d-flex.flex-column.h-100
                    
                    .p-3.p-md-5.text-gray-400
                        p.text-white.small.font-weight-bold
                            i.fas.fa-map-marker-alt.text-primary.mr-2
                            | Location
                        p.small.mb-1 {{ site_settings.company_name }}
                        p.small.mb-1 {{ site_settings.company_street_address_1 }}
                        p.small.mb-1 {{ site_settings.company_city }}, {{ site_settings.company_state }} 48306

                    .p-3.p-md-5
                        p.text-white.small.font-weight-bold Contact Sales
                        p.small.mb-1
                            i.fas.fa-phone-volume.text-primary.mr-2
                            a.nav-link.link-secondary.d-inline.p-0( href='tel:+1-833-463-3539' ) 1-833-463-3539
                        p.small.mb-1
                            i.fas.fa-envelope.text-primary.mr-2
                            a.nav-link.link-secondary.d-inline.p-0( href='mailto: sales@eflexsystems.com' ) sales@eflexsystems.com
                    
            | {% set menu = menu(module.menu_field , "site_root").children %}
            | {% for link in menu %}
            | {{render_link_item(link,1)}}
            | {% endfor %}
    
    //- Sub Footer
    .bg-gray-900.text-gray-400
        .container
            .row.align-items-center
                //- Brand Logo
                .col-6.col-md-8
                    .p-3.px-md-5
                        .row
                            .col-12.col-md
                                p.font-weight-bold.text-white.mb-0 eflex systems
                            
                            //- Copyright
                            .col-12.col-md
                                p.small.text-md-center.mb-0
                                    i.far.fa-copyright.mr-1
                                    | Copyright {{year}} eFlex Systems
                    
                //- Social Media
                .col-6.col-md-4
                    .p-3.px-md-5
                        .d-flex.justify-content-end
                            button.btn.link-secondary.p-2
                                i.fab.fa-facebook-square.fa-lg
                            button.btn.link-secondary.p-2
                                i.fab.fa-linkedin.fa-lg
                            button.btn.link-secondary.p-2
                                i.fab.fa-twitter.fa-lg
                            button.btn.link-secondary.p-2
                                i.fab.fa-youtube.fa-lg