// Utilities
// Sizes

@each $spacer, $size in $spacers
	.l-#{$spacer}
		left: $size
	.t-#{$spacer}
		top: $size
	.r-#{$spacer}
		right: $size
	.b-#{$spacer}
		bottom: $size
	// Negative Sizes
	.l-n#{$spacer}
		left: -$size
	.t-n#{$spacer}
		top: -$size
	.r-n#{$spacer}
		right: -$size
	.b-n#{$spacer}
		bottom: -$size
