//- Image

//- Use for images that maintain the same aspect ratio
.clip-path
	@extend .overflow-hidden
	clip-path: inset(0 0 0 0)

//- Use for responsive images so there is never a bleed.
.responsive-clip-path
	@extend .overflow-hidden
	clip-path: inset(0 0 0 0)
	img
		@extend .w-auto, .h-auto, .position-relative
		min-width: 100%
		min-height: 100%
		transform: translateX(-50%) translateY(-50%)
		left: 50%
		top: 50%
