//- home.pug
extends ../../templates/_template.pug

block content
  include ../../components/wallpapers/_title-solutions.pug
  - var color = 'yellow'
  - var position = 't-n5 r-n6'
  +title-solution('0_1')

  include blocks/_block-1.pug
  include blocks/_block-2.pug
  include blocks/_block-4.pug