//- solutions/_template_masthead.pug
extends ./_template.pug

block script
	//- slick-carousel
	script( type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')

block variables
	- var mastheadHeight = '40rem'

block content
	//- Components being used.
	include ../components/rawHtml/_rawHtml.pug
	include ../components/cta/_cta.pug
	include ../components/image/_image.pug
	include ../components/parallax/_parallax.pug
	include ../components/uiDevice/_uiDevice.pug

	//- Masthead Container
	.d-flex.flex-column.align-items-center.justify-content-end.position-relative( style='height: ' + mastheadHeight )

		block mastheadImage
			+parallax ({
				name: 'imageSrc_masthead'
			})

		block masthead
			//- Home Content
			.container.h-100.position-absolute.py-5
				.row.h-100

					//- Masthead Introduction
					.col-12.col-lg-6
						.d-flex.flex-column.justify-content-end.h-100
							.p-3.p-md-5
								.d-flex.flex-column
									h1.display-lg-1.text-uppercase.text-white.text-break.text-lg-nowrap( style="hyphens: auto" )
										+rawHtml ({
											name: 'title_masthead',
											value: 'Masthead Title'
										})

									p.lead-md.text-white.mb-5
										+rawHtml ({ 
											name: 'desc_masthead',
											class: 'lead-md text-white',
											value: 'Solution sub-title insert here.'
										})

									//- Masthead CTA          
									+cta ({
										name: 'end',
										color: 'primary',
										guid: 'f45a304e-b763-4049-bff9-b08abe1db12a'
									})
