//- home.pug
extends ../../templates/_template.pug

block content
  include ../../components/_image-wallpaper-2.pug
  .d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column
    .w-full.h-half
      // Image
      .w-full.h-half.img-clip.position-absolute.
        {% set class = "w-100" %}
        {% module "Wallpaper_#{index}" path='/_eflex/components/image' %}
      // Black Fade
      .w-full.h-half.position-absolute
        .black-fade-opaque-x.w-100.h-100
      // Blend Multiply
      .w-full.h-half.position-absolute
        .blend-hue-purple.w-100.h-100.opacity-70
      // Content
      .w-full.h-half.position-absolute
        .d-flex.flex-column.justify-content-center.h-100.w-100.pl-7
          h2.text-purple.text-shadow Quality Management
          h5.text-white.text-shadow.font-weight-light Prevent defective parts and errors in your assembly process.

  include blocks/_block-1.pug
  include blocks/_block-2.pug
  include blocks/_block-3.pug
  include blocks/_block-4.pug