//- home.pug
extends ../../templates/_template.pug

block content
  include ../../components/_image-wallpaper-2.pug
  .d-flex.flex-column.justify-content-center.align-items-center.vw-100.overflow-hidden
    .w-full.h-half
      // Image
      .w-full.h-half.img-clip.position-absolute.overflow-hidden.
        {% set class = "w-100 h-auto position-absolute b-0" %}
        {% module "Wallpaper_#{index}" path='/_eflex/components/image', style="min-height: 52.25vw" %}
      // Black Fade
      .h-half.position-absolute( style="width:90% " )
        .black-fade-opaque-x.w-100.h-100
      // Blend Overlay
      .w-full.h-half.position-absolute
        .blend-overlay-purple.w-100.h-100.opacity-25
      // Content
      .w-full.h-half.position-absolute
        .d-flex.justify-content-center.w-100.h-100
          .d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start.text-lg-left.text-center.h-100.w-75
            h2.text-purple.text-shadow.w-half Quality Management
            h5.text-white.text-shadow.font-weight-light.w-half.
              {% raw_html "Page_Subtitle" value='{{ paragraph_var }}' %}

  include blocks/_block-1.pug
  include blocks/_block-2.pug
  include blocks/_block-3.pug
  include blocks/_block-4.pug
  include blocks/_block-5.pug
  include blocks/_block-6.pug
  include blocks/_block-7.pug