include ../../../components/_layout-5.pug
include ../../../components/_image-full.pug

.d-flex.flex-column.justify-content-center.align-items-center.p-5.p-lg-0.pt-lg-5
  h3.w-lg-75.
    {% raw_html "Block_1_Heading_1", value="{{ heading_var }}" %}

.d-flex.justify-content-center.align-items-center
  .d-flex.justify-content-center.justify-content-lg-start.align-items-center.w-75.flex-lg-row.flex-column.align-items-start
    .w-lg-50.h-auto.img-clip-rounded.
      {% set class = "img-fluid rounded" %}
      {% module "Image_1_1" path='/_eflex/components/image' %}
    +layout-5('1_1')