//- leadership.pug
extends ../../../templates/_template.pug

block script
  script( src="{{ get_public_template_url('/_eflex/script/popup-modal.js') }}")

block content
  include ../../../components/wallpapers/_image-wallpaper-7.pug
  include blocks/_sub-content.pug

  // Leadership Modals
  - var n = 1
  while n <= 12
    +leadership-modal(n++)

  .content( style='transition-duration: .3s;' )
    +image-wallpaper-7('0_1')
    include blocks/_block-1.pug
    include blocks/_block-2.pug
    include blocks/_block-3.pug
