//- _form.pug

//- https://developers.hubspot.com/docs/cms/hubl/tags * find use for different properties

mixin form(args)
	.
		{% form "#{args.name}" form_to_use="#{args.formid ? args.formid : '4b3821a3-d6da-418b-a4b1-1f77e04f9388'}", title="#{args.title ? args.title : 'Default Title'}" %}