include ../../../../components/_layout-5.pug
include ../../../../components/_image-lg.pug
.d-flex.flex-lg-row.flex-column.justify-content-center.align-items-center.my-5
  +image-lg('1_1')
  +layout-5('1_1')
