//- sg.pug - Style Guide
extends ../../templates/_template.pug

block content

  mixin divider(text)
    p.pb-3.m-5.border-bottom.font-italic= text

  style.
    .brightness-toggle button:hover {
      opacity: 1;
    }
  
  script( src="{{ get_public_template_url('/_eflex/script/components.js') }}")
  .flex-fill.d-flex.justify-content-center.flex-column
    .brightness-toggle.fixed-top.w-sm.d-flex.flex-column.m-5.ml-auto
      button.btn.btn-primary.rounded-pill.opacity-50( style="margin-top: 5.5rem") Toggle Brightness
    
    ul.nav.nav-tabs.mt-5( id="myTab" role="tablist" )
      li.nav-item
        a.nav-link.active( id="sg-1-tab" data-toggle="tab" href="#sg-1" role="tab" aria-controls="sg-1" aria-selected="true" ) Styles
      li.nav-item
        a.nav-link( id="sg-2-tab" data-toggle="tab" href="#sg-2" role="tab" aria-controls="sg-2" aria-selected="false" ) Components
      li.nav-item
        a.nav-link( id="sg-3-tab" data-toggle="tab" href="#sg-3" role="tab" aria-controls="sg-3" aria-selected="false" ) Layouts

    .tab-content( id="sg-content" )
      .tab-pane.fade.show.active( id="sg-1" role="tabpanel" aria-labelledby="sg-1-tab" )
        include tabs/_tab-1.pug
      .tab-pane.fade( id="sg-2" role="tabpanel" aria-labelledby="sg-2-tab" )
        include tabs/_tab-2.pug
      .tab-pane.fade( id="sg-3" role="tabpanel" aria-labelledby="sg-3-tab" )
        include tabs/_tab-3.pug
