//- sg.pug - Style Guide
extends ../../templates/_template.pug

block content
  .flex-fill.d-flex.justify-content-center.flex-column.pt-lg-3
    include ../../components/_feature-1.pug
    .d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.m-5
      +feature-1(3, 1)
      +feature-1(3, 1)
      +feature-1(3, 1)
