//- sg.pug - Style Guide
extends ../../templates/_template.pug

block content

  mixin divider(text)
    p.pb-3.m-5.border-bottom.font-italic= text

  style.
    .brightness-toggle button:hover, .color-toggle button:hover {
      opacity: 1;
    }
    .color-toggle button:focus {
      outline: none;
    }
  
  script( src="{{ get_public_template_url('/_eflex/script/components.js') }}")
  script( src="{{ get_public_template_url('/_eflex/script/lazy-images.js') }}")
  .flex-fill.d-flex.justify-content-center.flex-column

    // Internal Controls
    .fixed-top.d-flex.flex-column.align-items-end.w-sm.m-5.ml-auto.scale-75
      .brightness-toggle.w-sm.mb-3( style="margin-top: 3.5rem") 
        button.btn.btn-primary.rounded-pill.opacity-50.ml-autoToggle Brightness Toggle
      .color-toggle.d-flex.justify-content-end
        mixin color-toggle(color)
          button.p-3.rounded-circle.border-none.opacity-50.ml-2( class='bg-'+color id='color-toggle-'+color)

        +color-toggle('red')
        +color-toggle('orange')
        +color-toggle('yellow')
        +color-toggle('teal')
        +color-toggle('green')
        +color-toggle('cyan')
        +color-toggle('blue')
        +color-toggle('purple')

    // Tabs
    ul.nav.nav-tabs.mt-5( id="myTab" role="tablist" )
      mixin sg-tab(index)
        if active
          li.nav-item
            a.nav-link.active( id="sg-"+index+"-tab" data-toggle="tab" href="#sg-"+index role="tab" aria-controls="sg-"+index  aria-selected="true" ) #{title}
        else
          li.nav-item
            a.nav-link( id="sg-"+index+"-tab" data-toggle="tab" href="#sg-"+index role="tab" aria-controls="sg-"+index  aria-selected="false" ) #{title}
      
      - var title = 'Styles'
      +sg-tab('1')

      - var title = 'Components'
      +sg-tab('2')

      - var title = 'Layouts'
      +sg-tab('3')

      - var title = 'Image Wallpaper'
      - var active = true
      +sg-tab('4')
      - var active = false

    
    // Tab Contents
    .tab-content( id="sg-content" )
      .tab-pane.fade( id="sg-1" role="tabpanel" aria-labelledby="sg-1-tab" )
        include tabs/_tab-1.pug
      .tab-pane.fade( id="sg-2" role="tabpanel" aria-labelledby="sg-2-tab" )
        include tabs/_tab-2.pug
      .tab-pane.fade( id="sg-3" role="tabpanel" aria-labelledby="sg-3-tab" )
        include tabs/_tab-3.pug
      .tab-pane.fade.show.active( id="sg-4" role="tabpanel" aria-labelledby="sg-4-tab" )
        include tabs/_tab-4.pug