//- free-demo.pug
extends ../../templates/_template.pug

block content
  include ../../components/_list.pug

  .d-flex.flex-column.justify-content-center.align-items-center.w-100.overflow-hidden
    .w-100.position-relative
      // Image
      .w-100.h-100.img-clip.position-absolute.overflow-hidden.img-inset-wide.opacity-20.
        {% set class = "position-absolute #{position}" %}
        {% module "Wallpaper_0_1" path='/_eflex/components/image' %}
      // Blend Color
      .w-100.h-100.position-absolute
        .w-100.h-100.blend-color-white
      // Blend Multiply
      .w-100.h-100.position-absolute
        .w-100.h-100.blend-multiply-brand-dark
      // Content
      .w-100
        .d-flex.flex-lg-row.flex-column.justify-content-center.align-items-center.w-100.h-100
          .text-shadow.d-flex.flex-column.justify-content-start.align-items-center.align-items-lg-start.w-half.h-100.z-index-1.p-3.my-6.my-lg-0.mx-auto
            .w-100
              h6.w-100.text-white.font-italic.mb-2.
                {% raw_html "Page_Title", label="Page_Title", value='{{ heading_var }}' %}
              h2.w-100.text-orange.font-weight-bold.text-lg-nowrap.mb-5.
                {% raw_html "Page_Subtitle", label="Page_Subtitle", value='{{ title_var }}' %}
              p.text-white.w-100.mb-6.mb-lg-5.
                {% raw_html "Page_Body_1_1", label="Page_Body_1_1", value='{{ title_var }}' %}
            .bullets-orange.text-white.w-lg(class!='{% text \"Bullets_Display\", value="d-block", label=\"Bullets_Display (d-none or d-block)\", no_wrapper=True %}')
              - var n = 5
              +list('1')
            .w-half.img-clip.overflow-hidden.pr-lg-6.ml-lg-3.
              {% set class = "w-100 h-100" %}
              {% module "Image_1_1" path='/_eflex/components/image' %}
            
            
          .form-responsive.d-flex.mx-auto.mx-lg-0.ml-lg-auto
            // Form
            #free_demo.d-flex.flex-column.justify-content-center.form.form-steps.w-100.vh-100.max-w-unset.w-lg-half.bg-white.content-box.position-relative.p-5.pt-5
              | {% form "Free Assessment" form_to_use='811a0563-99e9-42bf-881b-dfbfc1c4fdc9', title='Free Assessment', extra_classes='pb-5' %}

              // Validation Alert
              #hs-errors-validation-popup.position-absolute.w-lg.bg-red.rounded.opacity-85.r-5( style="bottom: 7rem; display: none;" )
                .d-flex
                  .icon-caution.icon-lg.text-white.p-3
                  p.text-white.text-left.w-md.p-3.mb-0 Please go back and complete the required fields.
                  #hs-errors-validation-x.icon-x-sm.icon-lg.text-white( style="cursor: pointer" )
                
              p By clicking Submit, you agree to our 
                a(href='https://www.eflexsystems.com/privacy-policy' target="_blank")
                  | Privacy Policy.