include ../../../components/_desktop.pug
include ../../../components/_layout-5.pug

.d-flex.justify-content-lg-center.align-items-center.flex-column.border-bottom.p-5.mx-lg-6
  .d-flex.flex-lg-row.flex-column.align-items-center.w-100.w-lg-auto
    .scale-75( style="clip-path: inset(0 0 17% 0)")
      +desktop('2_1')
    +layout-5('2_1')
  .d-flex.flex-lg-row.flex-column.align-items-center.w-100.w-lg-auto
    +layout-5('2_2')
    .scale-75( style="clip-path: inset(0 0 17% 0)")
      +desktop('2_2')
    