// Utilities
// Images

// Clipped Image Sizing

// Landscape Image
.img-inset-wide
  img
    width: 100% !important
    min-height: 100% !important
    min-width: 34rem

// Portrait Image
.img-inset-tall
  img
    height: 100% !important
    min-width: 100vw !important

.img-inset-fit
  img
    height: 100% !important
    width: 100% !important

.img-clip-rounded
  clip-path: inset(0 0 0 0 round .25rem)
  -webkit-clip-path: inset(0 0 0 0 round .25rem)

.img-clip
  clip-path: inset(0 0 0 0)
  -webkit-clip-path: inset(0 0 0 0)