// Utilities
// Sizes
  
@each $spacer, $size in $spacers
  .l-#{$spacer}
    left: $size
  .t-#{$spacer}
    top: $size
  .r-#{$spacer}
    right: $size
  .b-#{$spacer}
    bottom: $size
  // Negative Sizes
  .l-n#{$spacer}
    left: $size * -1
  .t-n#{$spacer}
    top: $size * -1
  .r-n#{$spacer}
    right: $size * -1
  .b-n#{$spacer}
    bottom: $size * -1

@for $i from 1 through 3
  $size-percent: $i * 25
  .l-#{$size-percent}
    left: percentage($size-percent / 100)
  .t-#{$size-percent}
    top: percentage($size-percent / 100)
  .r-#{$size-percent}
    right: percentage($size-percent / 100)
  .b-#{$size-percent}
    bottom: percentage($size-percent / 100)
  // Negative Sizes
  .l-n#{$size-percent}
    left: percentage($size-percent / -100)
  .t-n#{$size-percent}
    top: percentage($size-percent / -100)
  .r-n#{$size-percent}
    right: percentage($size-percent / -100)
  .b-n#{$size-percent}
    bottom: percentage($size-percent / -100)


@each $size, $length in $sizes
  .w-lg-#{$size}
    @media (min-width: 992px)
      width: $length !important
  .h-lg-#{$size}
    @media (min-width: 992px)
      height: $length !important
    
// Mobile Responsiveness
@media (max-width: 920px)
  .p-5
    padding: 1.75rem !important
  .mb-5, .my-5, .mb-4, .my-4
    margin-bottom: 1.5rem !important
  .mt-4, .my-4, .mt-5, .my-5
    margin-top: 1.5rem !important