include ../../../components/_layout-5.pug
include ../../../components/_desktop.pug

.d-flex.justify-content-lg-center.align-items-center.flex-column.p-5
  .d-flex.flex-lg-row.flex-column.align-items-center
    .scale-75( style="clip-path: inset(0 0 17% 0)")
      +desktop('2_1')
    +layout-5('2_1')
  .d-flex.flex-lg-row.flex-column.align-items-center
    +layout-5('2_2')
    .scale-75( style="clip-path: inset(0 0 17% 0)")
      +desktop('2_2')
  .d-flex.flex-lg-row.flex-column.align-items-center
    .scale-75( style="clip-path: inset(0 0 17% 0)")
      +desktop('2_3')
    +layout-5('2_3')