include ../../../components/features/_feature-3.pug
.d-flex.justify-content-center.w-100.p-5
  .d-flex.justify-content-lg-center.align-items-stretch.flex-lg-row.flex-column
    +feature-3('4_1')
    +feature-3('4_2')
    +feature-3('4_3')
    +feature-3('4_4')