include ../../../components/_feature-4.pug

.d-flex.flex-column.justify-content-center.align-items-center.bg-gray-100.p-5
  h3.text-lg-center.w-100.mb-4.
    {% raw_html "Block_2_Title_1", value="{{ heading_var }}" %}
  p.text-lg-center.w-lg-half.
    {% raw_html "Block_2_Callout_1", value="{{ paragraph_var }}" %}

.d-flex.justify-content-center.w-100.p-5
  .d-flex.justify-content-lg-center.align-items-stretch.flex-lg-row.flex-column
    +feature-4('2_1')
    +feature-4('2_2')
    +feature-4('2_3')