//- template_test.pug

block templateType
    .
        <!--
        templateType: page
        isAvailableForNewContent: true
        -->

doctype html
html
    head

        //- Required Hubspot Meta Tags
        meta( charset='utf-8')
        meta( name='description' content='{{ content.meta_desctiption }}')
        meta( name="author" content="eFlex Systems")
        title {{ content.html_title }}
        | {{ standard_header_includes }}

        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")

        //- Parallax
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="/node_modules/jquery-parallax.js/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js")

        //- Bootstrap
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

        //- Custom Styles
        link(href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet")
        link(href!="{{ get_public_template_url('/_eflex/styles/stylesheet.css') }}" rel='stylesheet')

        //- Custom Script
        script(src="{{ get_public_template_url('/_eflex/script/internal_development.js') }}")

    body
        .container-fluid
            block content
        
        | {{ standard_footer_includes }}