.block-fluid.bg-gray-100
  .d-flex.flex-lg-row.flex-column.justify-content-center.align-items-center
    .d-flex.justify-content-center
      .res-half.overflow-hidden.position-relative.my-5.my-lg-0.m-lg-5( style="max-height: 27rem" )
        .position-absolute.h-100.w-100.b-0
          .position-absolute.b-4.w-100.h-50.bg-purple-dark.opacity-25.scale-75.rounded-circle
        | {% set class="h-100 w-100 position-absolute p-4" %}
        | {% module "Infographic_#{index}" path="/_eflex/components/image" %}
    .d-flex.flex-column.justify-content-center.align-items-center.p-5.m-lg-3
      h3.text-center.mb-4.
        {% raw_html "Heading_1_1" value='{{ title_var }}' %}
      p.w-lg-half.text-center.
        {% raw_html "Body_1_1" value='{{ paragraph_var }}' %} 