//- customer-support.pug
extends ../../templates/_template.pug
include ../../components/wallpapers/_image-wallpaper-8.pug

    //
        block script
            script( src="{{ get_public_template_url('/_eflex/script/input-file.js') }}")

block content
    - var position = 'b-0'
    +image-wallpaper-8('1_1')

    include blocks/_block-1.pug
    include blocks/_block-2.pug