include ../../../components/features/_feature-4.pug

.d-flex.flex-column.pt-lg-6.m-5
    - var index = '1_1'
    h3.text-center.mb-5.
        {% raw_html "Heading_#{index}", label="Heading_#{index}", value="{{ heading_var }}" %}
    .d-flex.justify-content-center.flex-lg-row.flex-column.flex-wrap.max-w-xxxl.mx-lg-auto.mb-5
        +feature-4('1_1')
        +feature-4('1_2')
        +feature-4('1_3')
        +feature-4('1_4')
        +feature-4('1_5')
        +feature-4('1_6')