include ../../../../components/images/_image-link-2.pug
// Modals
.w-75.max-w-xxxl.py-6.mx-auto
  .d-flex.flex-lg-row.flex-column.justify-content-around.align-items-center
    +image-link-2('2_1')
    +image-link-2('2_2')
    +image-link-2('2_3')
  .d-flex.flex-lg-row.flex-column.justify-content-around.align-items-center
    +image-link-2('2_4')
    +image-link-2('2_5')
    +image-link-2('2_6')
  .d-flex.flex-lg-row.flex-column.justify-content-around.align-items-center
    +image-link-2('2_7')
    +image-link-2('2_8')
    +image-link-2('2_9')
  .d-flex.flex-lg-row.flex-column.justify-content-around.align-items-center
    +image-link-2('2_10')
    +image-link-2('2_11')
    .opacity-0( style='pointer-events: none;')
      +image-link-2('2_000')