//- home.pug block-0
include ../../../components/_carousel-3.pug

.block-fluid.row.no-gutters.justify-content-around.align-items-center.bg-primary.p-5.m-0.w-100.overflow-hidden
  .d-flex.justify-content-center.w-100
    h5.text-white.text-center.my-4
      | {% raw_html "Logos_Title", value="{{ title_var }}" %}
  +carousel-3()