//- home.pug block-1

include ../../../components/features/_feature-7.pug
include ../../../components/layouts/_layout-3.pug
.d-flex.justify-content-center.align-items-center.align-items-lg-start.flex-lg-row.flex-column.p-5.border-bottom
  +layout-3('1_1')
  .d-flex.flex-column
    +feature-7('1_2')
    +feature-7('1_3')
    +feature-7('1_4')