//- home.pug block-0
.block-fluid.row.no-gutters.justify-content-around.align-items-center.border-bottom.bg-primary.p-5.m-0
  .d-flex.justify-content-center.w-100
    h5.text-white.text-center.my-4
      | {% raw_html "Logos_Title", value="{{ title_var }}" %}
  #carouselExample.carousel.slide.w-75.my-4( data-ride="carousel" data-interval="9000")
    .carousel-inner.row.justify-content-md-center.w-100.mx-auto( role="listbox")
      mixin logo(index)
        if active
          .carousel-item.col-md-2.active
            | {% module "Logo_#{index}" path='/_eflex/components/image' label="image" extra_classes="d-flex justify-content-center d-block opacity-85" %}
        else
          .carousel-item.col-md-2
            | {% module "Logo_#{index}" path='/_eflex/components/image' label="image" extra_classes="d-flex justify-content-center d-block opacity-85" %}

      - var active = true
      +logo(1)

      - var active = false
      - var n = 2
      while n <= 16
        +logo(n++)

    a.carousel-control-prev( href="#carouselExample" role="button" data-slide="prev")
      span.icon-arrow-left-sm.icon-xl.text-white
      span.sr-only Previous
    a.carousel-control-next.text-faded( href="#carouselExample" role="button" data-slide="next")
      span.icon-arrow-right-sm.icon-xl.text-white
      span.sr-only Next