//- home.pug block-3

include ../../../components/_layout-3.pug
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.mx-5.py-5.border-bottom
  .res-half
    video( width="100%" height="100%" controls poster='https://cdn2.hubspot.net/hubfs/490686/_site/photos/Video_Thumbnail_JEM.jpg')
      source(src="https://cdn2.hubspot.net/hubfs/490686/Videos/Video_JEM-1.mp4" type="video/mp4")
  .ml-lg-5
    +layout-3('3_2')