//- home.pug block-5

.block-fluid.row.border-bottom.p-5.m-0
  .col.my-5
    .row.mb-4
      .col-12
        h3.text-center
          .
            {% raw_html "Block_5_Title" value="{{ heading_var }}" %}
         
    include ../../../components/_image-link.pug
    .d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.m-5
      - var n = 6
      while n >= 1
        +image-link(n--)

    .w-half.mx-auto
      .w-md.mx-auto.my-5
        .
          {% cta "View_All_Updates" label='View_All_Updates_CTA' guid='3f3ce9fc-aab8-4138-96d1-955dd95e42f8' %}