//- home.pug block-4

include ../../../components/_feature-8.pug
include ../../../components/_layout-7.pug
.d-flex.justify-content-center.align-items-center.flex-column.p-5.border-bottom
  .d-flex.flex-column.justify-content-start
    - var index = '4_1'
    h3.text-lg-left.text-center.mb-4.m-lg-4.
      {% raw_html "Title_#{index}" value="{{ heading_var }}" %}
    .d-flex.flex-column.flex-lg-row
      +layout-7('4_1')
      .d-flex.flex-column.m-1
        +feature-8('4_2')
        +feature-8('4_3')
        +feature-8('4_4')