// Layouts

include ../../../components/layouts/_layout-1.pug
+divider('Layout 1')
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.m-5
  +layout-1('5_1')

include ../../../components/layouts/_layout-2.pug
+divider('Layout 2')
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.m-5
  +layout-2('6_1')

include ../../../components/layouts/_layout-3.pug
+divider('Layout 3')
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.m-5
  +layout-3('8_1')
  +layout-3('9_1')

include ../../../components/layouts/_layout-4.pug
+divider('Layout 4')
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.m-5
  +layout-4('10_1')

include ../../../components/layouts/_layout-5.pug
+divider('Layout 5')
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.m-5
  +layout-5('10_2')
  +layout-5('10_2')
  +layout-5('10_2')

include ../../../components/layouts/_layout-6.pug
+divider('Layout 6')
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.m-5
  +layout-6('10_3')

include ../../../components/layouts/_layout-7.pug
+divider('Layout 7')
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.m-5
  +layout-7('10_6')
  +layout-7('10_7')

include ../../../components/layouts/_layout-8.pug
+divider('Layout 8')
.d-flex.justify-content-lg-center.align-items-center.flex-lg-row.flex-column.border-bottom.mb-5
  +layout-8('10_8')