// Components
// Carousel

mixin carousel-1(index)
  #carouselExample.carousel.slide.w-75.my-4( data-ride="carousel" data-interval="2000")
    .carousel-inner.row.justify-content-md-center.w-100.mx-auto( role="listbox")
      mixin logo(index)
        if active
          .carousel-item.col-md-2.active
            .d-flex.flex-column
              .icon-xl.text-primary.m-4.mx-auto(class!='{% text \"Feature_' + index + '_Icon\", value="icon-cobot", label=\"Feature_' + index + '_Icon\", no_wrapper=True %}')
              .h-sm.text-center.
                {% raw_html "Icon_Label_#{index}", value="{{ heading_var }}" extra_classes="w-100" %}
              
        else
          .carousel-item.col-md-2
            .d-flex.flex-column
              .icon-xl.text-primary.m-4.mx-auto(class!='{% text \"Feature_' + index + '_Icon\", value="icon-cobot", label=\"Feature_' + index + '_Icon\", no_wrapper=True %}')
              .h-sm.text-center.
                {% raw_html "Icon_Label_#{index}", value="{{ heading_var }}", label="Icon_Label_#{index}", extra_classes="w-100" %}
              

      - var active = true
      +logo(1)

      - var active = false
      - var n = 2
      while n <= carouselNumber
        +logo(n++)

    a.carousel-control-prev( href="#carouselExample" role="button" data-slide="prev")
      span.icon-arrow-left-sm.icon-xl.text-gray-dark
      span.sr-only Previous
    a.carousel-control-next.text-faded( href="#carouselExample" role="button" data-slide="next")
      span.icon-arrow-right-sm.icon-xl.text-gray-dark
      span.sr-only Next