//- Components
//- Feature 1

mixin feature-1(block, index)
  .w-lg.border.border-gray-light.rounded.m-2
    .d-flex
      .icon-cobot.icon-xl.text-primary.m-4(class!="'{% text \"Block_" + block + "_Feature_" + index + "_Icon\", no_wrapper=True %}'")
      small.my-auto.mr-5
        | {% raw_html "Block_#{block}_Feature_#{index}_Text" value='{{ title_var }}' %}