//- Components
//- Image - Size: Half

//- Single Image

mixin image-half(index)
  .res-half.img-clip-rounded.m-5.
    {% set class = "w-100 h-auto rounded" %}
    {% module "Image_#{index}" path='/_eflex/components/image' %}