//- Components
//- Image Wallpaper 1

mixin image-wallpaper-1(index)
  .res-full
    // Image
    .res-full.img-clip.position-absolute.
      {% set class = "w-100" %}
      {% module "Wallpaper_#{index}" path='/_eflex/components/image' %}
    // Blend Exclusion
    .res-full.position-absolute.opacity-60
      .blend-exclusion-gray.rounded.w-100.h-100
    // Black Fade
    .res-full.position-absolute
      .black-fade.rounded.w-100.h-100
    // Content
    .res-full.position-absolute
      .d-flex.flex-column.justify-content-end.align-items-center.h-full
        .res-half.
          {% set class = "res-half" %}
          {% module "Image_#{index}" path='/_eflex/components/image'%}