//- Components
//- Image Wallpaper 7

mixin image-wallpaper-7(index)
  .w-100.position-relative( style="height: 50vh" )
    // Image
    .w-100.h-100.img-clip.position-absolute.r-0.overflow-hidden.img-inset-wide.
      {% set class = "position-fixed" %}
      {% module "Wallpaper_#{index}" path='/_eflex/components/image' %}
    // Blend Exclusion
    .w-100.h-100.position-absolute.opacity-50
      .blend-exclusion-gray.w-100.h-100
    // Blend Color
    .w-100.h-100.position-absolute
      .blend-color-brand-dark.w-100.h-100
    // Blend Multiply
    .w-100.h-100.position-absolute
      .blend-multiply-brand-dark.w-100.h-100.opacity-70
    // Content
    .w-100.h-100
      .d-flex.flex-column.align-items-center.h-100
        .flex-fill.d-flex.flex-column.justify-content-center.align-items-center.z-index-2.m-5
          h3.text-center.text-white.text-shadow.mb-4.
            {% raw_html "Wallpaper_Title_#{index}", value="{{ heading_var }}" %}