//- Components
//- Bullets

mixin bullet(bullets_index)
  li.p.d-flex.mb-2.
    {% raw_html "Bullet_#{bullets_index}", label="Bullet_#{bullets_index}", value='{{ title_var }}' %}

mixin list(index)
  ul.d-flex.flex-column.my-4
    - var bullets = 1
    while bullets <= (n)
      +bullet(index + '_' + bullets++)